language: julia
os:
    - linux
julia:
    - 1.1
#     - nightly
notifications:
  email: false
before_install:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
  - julia -e 'using Pkg; Pkg.clone(pwd());Pkg.build("Arrowhead");Pkg.test("Arrowhead",coverage=true)'
